PRIMARY=http://pihole|primary-api-password
REPLICAS=https://replica-one.example.test|replica-api-password,https://replica-two.example.test|replica-api-password
FULL_SYNC=false
RUN_GRAVITY=false
CRON=*/10 * * * *
SYNC_CONFIG_DNS=true
SYNC_GRAVITY_AD_LIST=true
SYNC_GRAVITY_DOMAIN_LIST=true
WEBPASSWORD=change-me
